/* Font Awesome */
@font-face {
  font-family: 'FontAwesome2';
  src: url('../bower_components/fontawesome/fonts/FontAwesome.otf');
  font-weight: normal;
  font-style: normal;
}
.fa {
  font: normal normal normal 14px/1 FontAwesome2 !important;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome2;
}
table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}
/* ------------ */

html {
	overflow-y: scroll;
}
html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-size: 15px;
}
body {
	background-color: rgb(241, 241, 241);
}

.page-wrapper {
   min-height: 100%;
   position: relative;
   width: 100%;
   margin: 0 auto;
}
.header-top {
	min-height: 65px;
	position: relative;
	background-color: rgb(70, 70, 70);
	border-bottom: 1px solid #000000;
	padding: 3px 20px 2px 20px;
}
.header-top a {
	color: white;
}
.header-list-container {
	position: absolute;
	bottom: 10px;
	right: 25px;
	z-index: 10000;
}
.header-list-container > ul > li {
	display: inline-block;
}
.dropdown-languages span {
	cursor: pointer;
}
.body-wrapper {
	padding: 10px;
}

.overlayable {
	position: relative;
}
.overlay {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.panel-body:first-child > div > .overlay {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.panel-body:last-child > div > .overlay {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.overlay img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

.has-error .bootstrap-touchspin-up,
.has-error .bootstrap-touchspin-down {
	border-color: rgb(169, 68, 66);
}