<div class="row">
	<div class="col-xs-12">
		<div id="add-panel" class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#add-panel" href="#add-body">{{"view.add.addTVShow" | translate}}</a>
			</div>
			<div id="add-body" class="panel-collapse collapse">
				<div class="panel-body overlayable">
					<div data-overlay data-ng-show="! addCtrl.isActive()"></div>
					<div data-alert data-alert-object="addCtrl.response" data-on-close="addCtrl.clearResponse()"></div>
					<form class="form" role="form">
						<div class="form-group" data-ng-class="{'has-error':addCtrl.hasError()}">
							<label for="txtTvShow" class="control-label">{{"view.add.imdbUrl" | translate}}:</label>
							<p class="text-danger" data-ng-show="addCtrl.hasError()"><small>{{addCtrl.getError()}}</small></p>
							<input type="text" name="txtTvShow" id="txtTvShow" value="" data-ng-model="addCtrl.imdbUrl" class="form-control" />
						</div>
						<input type="button" data-ng-click="addCtrl.add()" class="btn btn-success" value="{{'view.add.add' | translate}}" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>