<div class="alert alert-{{alertCtrl.getStyle()}} alert-dismissable" data-ng-show="alertCtrl.isVisible()">
	<button type="button" class="close" data-ng-click="alertCtrl.onClose()" aria-hidden="true">×</button>
	{{alertCtrl.getMessage()}}
</div>