<div class="header-list-container">
	<ul class="list-unstyled">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
			<i class="fa fa-language fa-lg"></i> <i class="fa fa-caret-down"></i>
		</a>
		<ul class="dropdown-menu dropdown-languages pull-right">
			<li data-ng-repeat="language in languageCtrl.languages">
				<span data-ng-click="languageCtrl.set(language)"><i class="fa fa-check" data-ng-show="languageCtrl.is(language)"></i> {{language.name}}</span>
			</li>
		</ul>
	</ul>
</div>