<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">{{listCtrl.title | translate}}</div>
			<div class="panel-body">
				<div data-alert data-alert-object="listCtrl.masterResponse" data-on-close="listCtrl.clearResponse()"></div>
				<table data-datatable="ng" data-dt-options="listCtrl.dtOptions" data-dt-column-defs="listCtrl.dtColumnDefs" class="row-border hover">
					<thead>
						<tr>
							<th style="width: 1px;"></th>
							<th class="col col-xs-6 col-lg-9">{{"model.tvShow.name" | translate}}</th>
							<th class="col col-xs-2 col-lg-1">{{"view.list.released" | translate}}</th>
							<th class="col col-xs-2 col-lg-1">{{"view.list.watched" | translate}}</th>
							<th class="col col-xs-2 col-lg-1">{{"view.list.outdated" | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="tvShow in listCtrl.tvShows track by tvShow.id">
							<td nowrap>
								<button class="btn btn-link" data-ng-click="listCtrl.viewIMDbPage(tvShow)" data-toggle="tooltip" title="{{'view.list.viewIMDbPage' | translate}}"><i class="fa fa-imdb" aria-hidden="true"></i></button>
								<button class="btn btn-link" data-ng-click="listCtrl.searchTorrent(tvShow)" data-toggle="tooltip" title="{{'view.list.searchEzTv' | translate}}" data-ng-disabled="tvShow.outdatedEpisodeCount == 0"><i class="fa fa-magnet" aria-hidden="true"></i></button>
							</td>
							<td>
								{{tvShow.name}} 
								<i class="fa fa-eye-slash" data-ng-hide="tvShow.watching" data-toggle="tooltip" title="{{'view.list.notWatching' | translate}}" aria-hidden="true"></i>
								<i class="fa fa-calendar-times-o" data-ng-show="tvShow.ended" data-toggle="tooltip" title="{{'model.tvShow.ended' | translate}}" aria-hidden="true"></i>
							</td>
							<td class="text-center">{{tvShow.lastEpisode | episodeFilter}}</td>
							<td class="text-center">
								<a href="javascript:;" data-ng-click="listCtrl.launchLastWatched(tvShow)">
									{{tvShow.lastEpisodeWatched | episodeFilter}}
									<i class="fa fa-edit" data-ng-show="tvShow.lastEpisodeWatched == undefined"></i>
								</a>
							</td>
							<td class="text-center">{{tvShow.outdatedEpisodeCount}}</td>
						</tr>
					</tbody>
				</table>
				<br />
				<small><a href="#" data-ui-sref="{{listCtrl.bottomOutcome}}">{{listCtrl.bottomLink | translate}}</a></small>
			</div>
		</div>
	</div>
</div>
<div id="modalUpdateWatched" class="modal fade" role="dialog" aria-labelledby="modalUpdateWatchedLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="modalUpdateWatchedLabel">{{"model.tvShow.lastEpisodeWatched" | translate}}</h4>
			</div>
			<div class="modal-body">
				<div data-alert data-alert-object="listCtrl.response" data-on-close="listCtrl.clearResponse()"></div>
				<form class="form" role="form">
					<div class="form-group">
						<label for="txtLastEpisodeWatchedSeason" class="control-label">{{listCtrl.selectedTvShow.name}}</label>
						<div class="row">
							<div class="col-xs-12">
								<div class="checkbox">
									<label><input type="checkbox" data-ng-model="listCtrl.selectedTvShow.watching">{{"model.tvShow.watching" | translate}}</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="checkbox">
									<label><input type="checkbox" data-ng-model="listCtrl.selectedTvShow.ended">{{"model.tvShow.ended" | translate}}</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6" data-ng-class="{'has-error':listCtrl.hasError('lastEpisodeWatched.season')}">
								<p class="text-danger" data-ng-show="listCtrl.hasError('lastEpisodeWatched.season')"><small>{{listCtrl.getError('lastEpisodeWatched.season')}}</small></p>
								<div data-touch-spin data-id="lastEpisodeWatchedSeason" data-ng-model="listCtrl.selectedTvShow.lastEpisodeWatched.season" data-options="listCtrl.lastEpisodeWatchedSeasonOptions"></div>
							</div>
							<div class="col-xs-6" data-ng-class="{'has-error':listCtrl.hasError('lastEpisodeWatched.number')}">
								<p class="text-danger" data-ng-show="listCtrl.hasError('lastEpisodeWatched.number')"><small>{{listCtrl.getError('lastEpisodeWatched.number')}}</small></p>
								<div data-touch-spin data-id="lastEpisodeWatchedNumber" data-ng-model="listCtrl.selectedTvShow.lastEpisodeWatched.number" data-options="listCtrl.lastEpisodeWatchedNumberOptions"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<button type="button" class="btn btn-danger" data-ng-click="listCtrl.saveLastWatched(true)">{{"view.list.clear" | translate}}</button>
						</div>
						<div class="col-xs-6 text-right">
							<button type="button" class="btn btn-success" data-ng-click="listCtrl.saveLastWatched(false)">{{"view.list.save" | translate}}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>