<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-success">
			<div class="panel-body overlayable">
				<div data-overlay data-ng-show="! updateCtrl.isActive()"></div>
				<div data-alert data-alert-object="updateCtrl.response" data-on-close="updateCtrl.clearResponse()"></div>
				<button class="btn btn-success pull-right" data-ng-click="updateCtrl.update(false)">{{"view.update.update" | translate}}</button>
				<span class="pull-right">&nbsp;</span>
				<button class="btn btn-success pull-right" data-ng-click="updateCtrl.update(true)">{{"view.update.updateAll" | translate}}</button>
			</div>
		</div>
	</div>
</div>